/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}


/*////////// Global Styles //////////*/

h1 {
	font-family: 'Baskerville', serif;
	font-size: 5em;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	color: rgb(152,173,166);
	margin: 0px 0px 5px;
}

h1 a {
	text-decoration: none;
	color: rgb(152,173,166);
}

h1 a:hover {
	color: rgb(111,127,122);
}

h2 {
	font-size: 2em;
	font-family: 'Times New Roman', serif;
	color: rgb(111,127,122)
}

img{
	border: 5px solid rgb(156,173,167);
}

p {
	color: #555;
	font-size: 1 em;
	margin: 0px 0px 20px 0px
}

p.footer {
	text-align: right;
	font-size: 0.8em;
}

body, html {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto 0;
	background: #fff;
	padding: 0 45px 20px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
.press{
	padding-bottom: 20px
	width: 100%;
}

.press img {
	color: #ccc;
	margin: 0px 0px 20px 0px
}

.press img:hover {
	border: 5px rgb(111,127,122) solid;
}

#featured a{
	text-decoration: none;
	color: #1783bb
}

#featured a:hover{
	text-decoration: underline;
}


/* Write all remaining styles here */
